<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <!--Login pages-->
    <servlet>
        <servlet-name>OpenIdLogin</servlet-name>
        <servlet-class>com.leanengine.server.auth.OpenIdLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OpenIdLogin</servlet-name>
        <url-pattern>/openid</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FacebookLogin</servlet-name>
        <servlet-class>com.leanengine.server.auth.FacebookLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacebookLogin</servlet-name>
        <url-pattern>/facebook</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.leanengine.server.auth.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginError</servlet-name>
        <servlet-class>com.leanengine.server.auth.LoginErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginError</servlet-name>
        <url-pattern>/loginerror</url-pattern>
    </servlet-mapping>

    <!--Resteasy-->
    <context-param>
        <param-name>javax.ws.rs.Application</param-name>
        <param-value>com.leanengine.server.rest.resteasy.RestApplication</param-value>
    </context-param>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/rest</param-value>
    </context-param>
    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <!-- IMPORTANT - AuthFilter must be defined before SecurityFilter as the latter depends on it.-->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.leanengine.server.auth.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--SecurityFilter is optional and should be used to secure web pages if needed-->
    <!--Do not use this for REST - it is already secured by it own internal mechanism.-->
    <!--<filter>-->
    <!--<filter-name>SecurityFilter</filter-name>-->
    <!--<filter-class>com.leanengine.server.SecurityFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>SecurityFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--DumpFilter dumps request&response headers and body.-->
    <!--Handy when troubleshooting.-->
    <filter>
    <filter-name>DumpFilter</filter-name>
    <filter-class>com.leanengine.server.DumpFilter</filter-class>
    <init-param>
    <param-name>dumpRequest</param-name>
    <param-value>true</param-value>
    </init-param>
    <init-param>
    <param-name>dumpResponse</param-name>
    <param-value>true</param-value>
    </init-param>
    <init-param>
    <param-name>dumpHeader</param-name>
    <param-value>true</param-value>
    </init-param>
    </filter>
    <filter-mapping>
    <filter-name>DumpFilter</filter-name>
    <url-pattern>/rest/*</url-pattern>
    </filter-mapping>


    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
